* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/bg.png");
}

.container {
  width: 100%;
  display: flex;
  max-width: 850px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.login {
  width: 400px;
}

form {
  width: 250px;
  margin: 60px auto;
  padding: 10px;
}

h2 {
  text-align: center;
  margin: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 35px;
}

hr {
  border-top: 2px solid #30333a;
}

.right img {
  width: 450px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

form label {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding: 6px;
}
input {
  width: 100%;
  margin: 10px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  color: #686868;
}

.tombol_login {
  background-color: #30333a;
  color: #ffffff;
}

.tombol_login:hover {
  background-color: #72676f;
}
