@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #dadada;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  bottom: 0;
  width: 240px;
  padding: 0 1.7rem;
  overflow: hidden;
  background: #30333a;
  color: hsl(0, 0%, 100%);
  flex-wrap: wrap;
}
.logo {
  height: 80px;
  padding: 5px;
  margin-top: 25vh;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 15px 0;
  border-radius: 8px;
  transform: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #464a55;
}
.menu a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.content {
  width: 80%;
  padding: 1rem;
  padding: auto;
  height: 100%;
}
.content-header {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 80px;
  box-shadow: 0 5px 10px rgba(2, 2, 2, 0.068);
  border-radius: 20px;
  margin-bottom: 20px;
}
.content-header h1 {
  margin: 20px;
  color: #3c5183;
}
.btn {
  text-align: center;
}
.btn li {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin: 10px 30px;
  margin-bottom: 20px;
  list-style: none;
  background: #3b7c968f;
  border-radius: 5px;
  padding: 2% 2%;
  box-shadow: 0 5px 10px rgba(2, 2, 2, 0.068);
}
.btn a {
  text-decoration: none;
  color: #30333a;
}
.btn i {
  padding-right: 20px;
}
.btn li:hover,
.btn .active {
  background: #9ab5ff7c;
}
