@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  background: #dadada;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  bottom: 0;
  width: 240px;
  padding: 0 1.7rem;
  overflow: hidden;
  background: #30333a;
  color: hsl(0, 0%, 100%);
  flex-wrap: wrap;
}
.logo {
  height: 80px;
  padding: 5px;
  margin-top: 0.5rem;
}
.pengguna {
  padding: 1rem;
  background: #464a55;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 2rem;
  margin-top: 5rem;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 15px 0;
  border-radius: 8px;
  transform: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #464a55;
}
.menu a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.content {
  width: 80%;
  padding: 1rem;
  padding: auto;
  height: 100%;
}
.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  height: 80px;
  box-shadow: 0 5px 10px rgba(2, 2, 2, 0.068);
  border-radius: 20px;
  margin-bottom: 20px;
}
.content-header h1 {
  margin: 20px;
  color: #3c5183;
}
.user {
  margin: 20px;
  padding: 1rem;
  color: #3c5183;
  gap: 4rem;
}
.user i {
  padding: 0.5rem;
  margin: 15px 15px;
  border-radius: 8px;
  transform: all 0.5s ease-in-out;
  background: #dadada;
  color: #3c5183;
  border-radius: 30px;
}
.filter {
  margin-bottom: 20px;
}
form button {
  padding: 0px 10px;
}
.dropbtn {
  padding: 5px;
  font-size: 12px;
  margin-top: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  backdrop-filter: blur(5px);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.box-header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.box-tools-pull-right a {
  background: #222b41;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 0.5rem;
}
.box-body-table-responsive-no-padding {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust as needed */
  height: 150vh;
  background: #ffffff;
  font-size: 15px;
}
.btn-btn-primary {
  color: rgb(0, 255, 76);
  padding: 0.3rem 1rem;
  border-radius: 8px;
}
.btn-btn-danger {
  color: rgb(255, 0, 0);
  padding: 0.3rem 1rem;
  border-radius: 8px;
}
hr {
  margin: 2rem;
}
.box-body-table-responsive-no-padding {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50%;
}

table,
tr,
th,
tr,
td {
  border: 0.5px solid #b9b9b9;
  margin: 1rem;
}
th,
td {
  padding: 1rem;
}
td a {
  text-decoration: none;
  color: #3c5183;
}
